@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  background-color: #e0dfdf !important;
  overflow-x: hidden;
}
p {
  color: #555;
}
a,
.butn {
  transition: all 0.3s ease;
}
/* Nav */
nav,
.nav_link {
  display: flex;
}
#lg-nav,
#sm-nav {
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  position: fixed;
  width: 100%;
  z-index: 99;
  transition: top 0.3s;
  background-image: linear-gradient(#fff, #e0dfdf , #fff, #e0dfdf, #fff, #e0dfdf, #fff, #e0dfdf, #fff, #e0dfdf, #fff, #e0dfdf, #fff, #e0dfdf);
  border-bottom: 1px solid #b5b5b5;
  box-shadow: 0px 0px 10px 5px #b5b5b5;
}
nav {
  justify-content: space-around;
  align-items: center;
}
.nav_link {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}
a {
  color: #000 !important;
  text-decoration: none !important;
  text-decoration-color: #e0dfdf !important;
}
.logo img {
  width: 180px;
  height: 70px;
  object-fit: contain;
}
a:hover {
  color: grey !important;
  text-decoration: underline !important;
  text-underline-offset: 1rem !important;
  text-decoration-color: #b5b5b5 !important;
}
.logo {
  font-size: 2rem;
  font-weight: 600;
}
.logo:hover {
  cursor: default;
}
#sm-nav {
  display: none;
}
.sm-menu {
  position: relative;
  display: inline-block;
}
.sm-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}
.sm-icon span {
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.menu-link {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #e0dfdf;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.menu-link a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.menu-link li {
  list-style: none;
}
.menu-link.open {
  max-height: 300px;
}

.sm-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}
.sm-icon.open span:nth-child(2) {
  opacity: 0;
}
.sm-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}
.sm-icon span:first-child {
  transform: none;
}
.sm-icon span:first-child {
  opacity: 1;
}
.sm-icon span:first-child {
  transform: none;
}

/* First section */
section {
  padding-block: 4vh;
  height: 90vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}
.social_container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}
#profile {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
  gap: 5rem;
}
.p_pic {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
  object-fit: contain;
  align-items: center;
}
.p_pic img {
  width: 420px;
  border-radius: 20%;
}
.text {
  align-self: center;
  text-align: center;
}
.text p {
  font-weight: 600;
}
.text_1 {
  text-align: center;
}
.text_2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}
.title {
  font-size: 3rem;
  text-align: center;
}
.icon {
  cursor: pointer;
  height: 1.7rem;
  padding-inline: 5px;
  transition: all 0.3s ease;
}
.icon:hover {
  transform: scale(1.2);
}
.icon:active {
  transform: scale(0.9);
}

.butn_container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.butn {
  font-weight: 600;
  transition: all 0.3s ease;
  padding: 0.7rem;
  width: 8rem;
  border-radius: 2rem;
}
.btn_1:hover,
.btn_2:hover {
  cursor: pointer;
}
.btn_1:active,
.btn_2:active {
  transform: scale(0.9);
}
.btn_2:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid white;
}
.btn_1:hover {
  background-color: transparent;
  color: #000;
}
.btn_1 {
  outline: none;
  color: #fff;
  background-color: #000;
}
.btn_2 {
  background: none;
  outline: none;
  border: 0.1rem solid #000;
}

/* About section */
.about_container {
  width: 100%;
  height: auto;
}
.about_me {
  margin-block: 2rem;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  border: 0.1rem solid #353535;
  border-color: #a3a3a3;
  border-radius: 2rem;
  text-align: center;
  cursor: default;
}
.sub_abo {
  width: 100%;
  height: auto;
}
.about_me_one {
  margin-block: 2rem;
  padding: 1.5rem;
  gap: 2rem;
  border: 0.1rem solid #353535;
  border-color: #a3a3a3;
  border-radius: 2rem;
  text-align: center;
  cursor: default;
}
.sub_about_me {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.cert_icon {
  text-align: center;
}
.cert {
  width: 200px;
}
.cert img {
  height: 200px;
  width: 100%;
  object-fit: contain;
}
.about_me_content {
  text-align: center;
}
.about_dettails_container {
  justify-content: center;
  flex-direction: column;
}
.about_dettails_container,
.about_me {
  display: flex;
}
.details_container {
  padding: 1.5rem;
  flex: 1;
  border: 0.1rem solid #a3a3a3;
  border-radius: 2rem;
  text-align: center;
  cursor: default;
}
.pro_pic {
  height: 400px;
  width: 400px;
  margin: auto 0;
}
.pro_pic img {
  width: 350px;
  object-fit: contain;
}
.article-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: row;
  justify-content: space-around;
}

article {
  width: 10rem;
  gap: 0.5rem;
  padding-block: 1rem;
}
.explore {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 50px;
  width: 120px;
  background-color: transparent;
  border: 0.0001rem solid black;
  font-weight: 600;
  border-radius: 2rem;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.open_ {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
#about {
  height: auto !important;
}
.pro_ject {
  width: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-block: 20px;
}
.pro_text {
  height: auto;
  text-align: center;
  padding-block: 20px;
}
.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.pro_one img {
  width: 80%;
  height: 200px;
}
.btn_p {
  border: none;
  background-color: #000;
  color: #fff;
  width: 40px;
  padding: 5px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
#project {
  height: auto;
}
.btn_p:active {
  transform: scale(0.9);
}
.btn_p:hover {
  transform: scale(1.1);
}
.carousel-control-prev-icon {
  border: 5px solid black !important;
  border-radius: 50%;
  height: 40px !important;
  width: 40px !important;
  background-color: #000 !important;
}

.carousel-control-next-icon {
  border: 5px solid black !important;
  border-radius: 50%;
  height: 40px !important;
  width: 40px !important;
  background-color: #000 !important;
}
.carousel {
  padding: 1.5rem;
  border: 0.1rem solid #353535;
  border-color: #a3a3a3;
  border-radius: 2rem;
}
.carousel-item img{
  width: 100% !important;
  margin: 0 auto;
}
.details_ {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5rem;
  border: 0.1rem solid #353535;
  border-color: #a3a3a3;
  border-radius: 2rem;
  text-align: center;
  cursor: default;
  margin-top: 60px;
}
.cont, .cont p {
  cursor: pointer;
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease-in-out;
}
.cont:hover, .cont p:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: #b5b5b5;
  color: #b5b5b5;
}
#contact {
  height: 50vh;
}
footer {
  height: 7vh;
  margin: 0 1rem;
}
footer p {
  text-align: center;
}


/* media query */
@media (max-width: 1400px) {
  #profile {
    height: 100vh;
    box-sizing: border-box;
  }
  #sm-nav {
    display: none;
  }
  .about_container {
    flex-wrap: wrap;
  }
  .about_me_content {
    margin: 0 auto;
  }
}

@media (max-width: 1200px) {
  #lg-nav {
    display: none;
  }
  #sm-nav {
    display: flex;
    justify-content: space-between;
    padding: 0 4rem 0 1rem;
  }
  #profile {
    margin-top: 0;
    display: block;
    height: auto;
  }
  section {
    margin: 0.5%;
  }
  .p_pic {
    padding-top: 12rem;
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }
  .text {
    padding-top: 7rem;
  }
  .p_pic img {
    border-radius: 50%;
    width: 100%;
  }
  .about_container {
    margin-top: 0;
  }
}

@media (max-width: 600px) {
  #contact
   {
    height: auto;
  }

  footer{
    height: auto;
  }
  .nav_link {
    padding-left: 0px;
  }
  section {
    padding-block: 0px;
  }
  #profile {
    height: auto;
    margin-top: 8.5rem;
  }
  article {
    font-size: 1rem;
  }
  footer > nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about_container,
  .details_,
  .butn_container {
    flex-wrap: wrap;
  }
  .details_ {
    margin: 0;
  }
  .details_ p,
  .nav-link li a {
    font-size: 1rem;
  }
  .logo {
    width: 1.5rem;
  }
  #sm-nav {
    justify-content: space-between;
    height: 15vh;
  }
  .nav_link {
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
  }
  .p_pic {
    width: 300px;
    height: auto;
    padding-top: 0px;
    justify-content: center;
  }
  .details_container,
  .details_,
  .about_me,
  .about_me_one,
  .carousel {
    margin: 2rem;
  }
  .p_pic img {
    width: 80%;
  }
  .text_1,
  p {
    font-size: 1.25rem;
  }
  .title,
  h1 {
    font-size: 2rem;
  }
  .text_2,
  h3 {
    font-size: 1.5rem;
  }
  .about_me_content {
    text-align: justify;
    margin: 2rem;
  }
  .nav-links-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
  }
  .special {
    padding-top: 2rem;
  }
  .text {
    padding-top: 1rem;
  }
}
